* {
   font-family: 'Roboto', sans-serif;
}

table{
	width:100%;
}

td,th{
	text-align:left;
	padding:8px;	
}

th{
	background-color: #3F51B5;
	color: white;
}

.sortable thead{
	cursor: pointer;
	background: #c9dff0;
}

.sortable thead tr th.tablesorter-headerAsc, .sortable thead tr th.tablesorter-headerDesc {
  background: #C5CAE9;
  color: black;
}

.table-hover tbody tr:hover td {
    background-color: #C5CAE9;
}

.navbar-default{
	 background-color: #3F51B5;
	 color: white;
	 font-weight: bold;
	 font-size: 15px;
}

.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: Gold;
}
.navbar-default .navbar-text {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: Gold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: Gold;
  background-color: #303F9F;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: Gold;
  background-color: #303F9F;
}

.goldRow {
  background-color: gold;
}

.silverRow {
  background-color: silver;
}

.bronzeRow {
  background-color: #cd7f32;
}

.pinkRow {
  background-color: pink;
}

.orangeCol {
  background-color: orange;
}

.pinkCol {
  background-color: pink;
}